.leaflet-tile {
  -webkit-filter: hue-rotate(180deg) invert(100%) !important;
}
.map {
  -webkit-animation: slide-in-bottom 2s cubic-bezier(1, 0, 0, 1) both;
  animation: slide-in-bottom 2s cubic-bezier(1, 0, 0, 1) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
